$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
    font-family: 'Didot';
    font-size: 24px;
    background-color: rgb(231,231,231);
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitter', serif;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 30px;
}

a {
    color: #FA1CA1;
    &:hover {
        color: #FA1CA1;
    }
}

hr {
    border-top: 1px solid rgba(238, 238, 238, 0.37);
}

.main-link {
    color: white;
    text-decoration: underline;

    &:hover {
        color: #FA1CA1;
    }
}

.main-link-dark {
    color: #494949;
    text-decoration: underline;

    &:hover {
        color: #FA1CA1;
    }
}

// typography

.text-jumbo {
    line-height: 60px;
    font-size: 58px;
}

.text-jumbo-light {
    line-height: 60px;
    font-size: 58px;
    font-weight: 400;
}

.text-bigger {
    line-height: 1.6;
    font-size: 26px;
    font-weight: 400;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.font2 {
    font-family: 'Bitter', serif;
}

// .contact-info {
//     line-height: 10px;
// }
.e-mail,
.phone {
    font-size: 20px;
}

// Background Colors
.blue-background {
    background-color: #258496;
    color: white;
}

.blue2-background {
    background-color: #349AAD;
    color: white;
}

.blue3-background {
    background-color: #57AAB9;
    color: white;
}

.blue4-background {
    background-color: #91C0C9;
    color: white;
}

// Buttons
.btn {
    color: rgb(83, 83, 83);
    border: 1px solid rgb(83, 83, 83);
    &:hover {
        color: white;
        background: #FA1CA1;
    }
}

.btn-light {
    color: white;
    border: 1px solid white;
}


.container {
    width: 100%;
    background: url(../images/acadia.jpg) no-repeat center top fixed;
    background-size: 100%;
    height: 100%;
    top: 0;

}

header {
    color: #fff;
    text-align: center;
    padding-top: 20px;
    z-index: 99;
}
    
    header p {
        color: #f3cc11;
        line-height: 1.2em;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1140px;
}
.navigation {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-size: 100%;
    color: white;
}

.nav {

    li {
        margin-right: 10px;
    }

    li a {
        color: white;
        border: 1px solid white;

        &:hover {
            background-color: #FA1CA1;
        }
    }
}

#carousel {
        width: 480px;
        overflow: hidden;
    }

    #carousel ul {
        width: 1920px;
        padding: 0;
        margin: 0;
    }

    #carousel ul li {
        width:480px;
        text-align: center;
        height: 280px;
        list-style: none;
        float: left;
    }




